<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register form</title>
    <link rel="stylesheet" href="static/buy_bike.css">
</head>
<body>
    <div id="root">
        <form action="" method="POST">
            <label for="" class="b">Model</label><br>
            <input type="text" placeholder="e.g. Honda" name="model" class="mb">
            <br>
            <label for="" class="b">Daily fee (VND)</label><br>
            <input type="number" placeholder="100000" name="fee" class="mb">
            <br>
            <label for="" class="b">Image</label><br>
            <input type="url" placeholder="e.g. https://hondaxemay.com" name="img" class="mb">
            <br>
            <label for="" class="b">Year</label><br>
            <input type="number" placeholder="e.g. 2013" name="year" class="mb">
            <br>
            <button class="b">Submit</button>
        </form>
    </div>
</body>
</html>